<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->


<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>
    <!-- Standard Favicon -->
    <link rel="icon" href="img/fav/favicon-96x96.png">

    <!-- Touch Icons - iOS and Android 2.1+ -->
    <link rel="apple-touch-icon" href="img/fav/android-icon-48x48.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/fav/android-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/fav/apple-icon-114x114.png" />
    
    <!--bootstrap v4.0.0-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/material-kit.min.css">
    <!--animate-->
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <!--reset css-->
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    
    <!--owl-carousel-->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
    <!--pop up css-->
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <!--swiper css-->
    <link rel="stylesheet" type="text/css" href="css/swiper.css">
    <!--fontawesome cdn-->
    <link href="../use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <!--animation spin css-->
    <link rel="stylesheet" type="text/css" href="css/animation-spin.css">

    <!--main style-->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,900" rel="stylesheet">

    <!--modernizr-->
    <script src="js/vendor/modernizr.js"></script>

    <!--[if lt IE 9]>
    <script src="js/html5/respond.min.js"></script>
    <![endif]-->
    
    <style>
    a.navbar-brand img {
    width: 190px;
    }
    </style>
    
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="60">
<!--    <div class="se-pre-con"></div>-->

    <!-- main nav start -->

    <nav class="navbar navbar-expand-lg navbar-transparent fixed-top center-brand static-nav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png" alt="logo" class="logo-default">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="xeronav">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item drop_menu"> <a class="nav-link" href="index.html">Home</a>
                       
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link " href="how-it-works.html">How it works</a>
                    </li>
                    <li class="nav-item drop_menu"> <a class="nav-link" href="testimonials.html">Testimonials</a>
                        
                    </li>
                    <li class="nav-item drop_menu"> <a class="nav-link" href="school-data.html">School Data </a>
                        
                    </li>

                    <li class="nav-item drop_menu"> <a class="nav-link" href="pricing.html">Pricing <i class="fas fa-caret-down"></i></a>
                        <ul>
                            <li><a href="#">Primary Level ISEE</a></li>
                            <li><a href="#">Lower Level ISEE</a></li>
                        </ul>
                    </li>
                    <li class="nav-item drop_menu"> <a class="nav-link" href="#">Tutoring <i class="fas fa-caret-down"></i></a>
                        <ul>
                            <li><a href="#">1-on-1 Tutoring</a></li>
                            <li><a href="#">Single</a></li>
                        </ul>
                    </li>

                    
                    <li class="nav-item btn_sign">
                       <a class="nav-link btn" href="#" data-toggle="modal" data-target="#exampleModalLong">Log in</a>
                    </li>

                </ul>
            </div>
        </div>
        <!--/.CONTAINER-->
    </nav>
    <!-- /.navbar -->

 
<section class="main-container" style="margin-top: 50px">

    
    
<div class="gray-bg pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                       <div class="section-left">
                           <h2>Your Tests</h2>
                                               <div class="card">
                            <div id="accordion">
                             <div class="card">
                               <div class="card-header" id="headingOne">
                                 <h5 class="mb-0">
                                   <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                     <div class="small-title">ISEE Middle</div>
                                     <div class="big-title">Practice Test  #1 <span class="progress-status">in progress</span></div>
                                     
                                   </button>
                                 </h5>
                               </div>
                           
                               <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                 <div class="card-body">
                                   <div class="rdx complete">
                                       <div class="row align-items-center">
                                               <div class="col-md-2 text-center">
                                                   <div class="time-status"><img src="img/correct.svg" width="40" alt=""></div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="section-title">Verbal Reasoning</div>
                                                   <sub>Completed 02 - 20 - 2019</sub>
                                               </div>
                                               <div class="col-md-2 text-center">
                                                  <a href="result_summery.html"> <div class="view-result"><img src="img/result.svg" width="30" alt=""></div>
                                                       <sub>View Results</sub></a>
                                               </div>
                                               
                                                <div class="col-md-2 text-center">
                                                   <div class="reset"><img src="img/reset.png" width="35" alt=""></div>
                                                   <sub>Reset</sub>
                                               </div>
                                         </div>
                                   </div>
                                     
                                     <div class="rdx complete">
                                           <div class="row align-items-center">
                                               <div class="col-md-2 text-center">
                                                   <div class="time-status"><img src="img/correct.svg" width="40" alt=""></div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="section-title">2 QUANTITATIVE REASONING</div>
                                                   <sub>Completed 02 - 20 - 2019</sub>
                                               </div>
                                               <div class="col-md-2 text-center">
                                                   <a href="result_summery.html"><div class="view-result"><img src="img/result.svg" width="30" alt=""></div>
                                                       <sub>View Results</sub></a>
                                               </div>
                                               
                                                <div class="col-md-2 text-center">
                                                   <div class="reset"><img src="img/reset.png" width="35" alt=""></div>
                                                   <sub>Reset</sub>
                                               </div>
                                                                               </div>
                                      </div>
                                     
                                      <div class="rdx">
                                          <div class="row align-items-center">
                                               <div class="col-md-2 text-center">
                                                   <div class="time-status"><svg width="60" height="60" viewBox="0 0 66 66" class="circle-progress"><circle cx="32" cy="32" r="28" fill="none" stroke="#e3e3e3" stroke-width="5"></circle><circle cx="32" cy="32" r="28" fill="none" stroke="#3ca499" stroke-width="5" stroke-dasharray="175.929" stroke-dashoffset="176" class="progress__value"></circle></svg><small ng-if="sec.timeRemaining &amp;&amp; sec.status != 5" class="center ng-binding ng-scope">35<br><span>min</span></small></div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="section-title">Reading Comprehension</div>
                                                   <sub>0 of 37 questions complete</sub>
                                               </div>
                                               <div class="col-md-2 text-center">
                                                   <a href="" data-toggle="modal" data-target="#startexam"> <div class="view-result"><img src="img/icons8-play.png" width="30" alt=""></div>
                                                       <sub>Start</sub></a>
                                               </div>
                                               
                                                <div class="col-md-2 text-center">
                                                   <div class="reset"><img width="35" src="img/icons8-scorecard.png"></div>
                                                   <sub>Score Paper</sub>
                                               </div>
                                                                               </div>
                                      </div>
                                     
                                       <div class="rdx">
                                          <div class="row align-items-center">
                                               <div class="col-md-2 text-center">
                                                   <div class="time-status"><svg width="60" height="60" viewBox="0 0 66 66" class="circle-progress"><circle cx="32" cy="32" r="28" fill="none" stroke="#e3e3e3" stroke-width="5"></circle><circle cx="32" cy="32" r="28" fill="none" stroke="#3ca499" stroke-width="5" stroke-dasharray="175.929" stroke-dashoffset="176" class="progress__value"></circle></svg><small ng-if="sec.timeRemaining &amp;&amp; sec.status != 5" class="center ng-binding ng-scope">35<br><span>min</span></small></div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="section-title">Mathematics Achievement</div>
                                                   <sub>0 of 37 questions complete</sub>
                                               </div>
                                               <div class="col-md-2 text-center">
                                                   <a href="" data-toggle="modal" data-target="#startexam"> <div class="view-result"><img src="img/icons8-play.png" width="30" alt=""></div>
                                                       <sub>Start</sub></a>
                                               </div>
                                               
                                                <div class="col-md-2 text-center">
                                                   <div class="reset"><img width="35" src="img/icons8-scorecard.png"></div>
                                                   <sub>Score Paper</sub>
                                               </div>
                                                                               </div>
                                      </div>
                                     
                                    <div class="rdx">
                                          <div class="row align-items-center">
                                               <div class="col-md-2 text-center">
                                                   <div class="time-status"><svg width="60" height="60" viewBox="0 0 66 66" class="circle-progress"><circle cx="32" cy="32" r="28" fill="none" stroke="#e3e3e3" stroke-width="5"></circle><circle cx="32" cy="32" r="28" fill="none" stroke="#3ca499" stroke-width="5" stroke-dasharray="175.929" stroke-dashoffset="176" class="progress__value"></circle></svg><small ng-if="sec.timeRemaining &amp;&amp; sec.status != 5" class="center ng-binding ng-scope">35<br><span>min</span></small></div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="section-title">Essay</div>
                                                   <sub>0 of 37 questions complete</sub>
                                               </div>
                                               <div class="col-md-2 text-center">
                                                   <a href="" data-toggle="modal" data-target="#startexam"> <div class="view-result"><img src="img/icons8-play.png" width="30" alt=""></div>
                                                       <sub>Start</sub></a>
                                               </div>
                                               
                                                <div class="col-md-2 text-center">
                                                   <div class="reset"><img width="35" src="img/icons8-scorecard.png"></div>
                                                   <sub>Score Paper</sub>
                                               </div>
                                                                               </div>
                                      </div>
                                 </div>
                               </div>
                             </div>
                             <div class="card">
                               <div class="card-header" id="headingTwo">
                                 <h5 class="mb-0">
                                   <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                     <div class="small-title">ISEE Middle</div>
                                     <div class="big-title">Practice Test  #1 <span class="progress-status">in progress</span></div>
                                   </button>
                                 </h5>
                               </div>
                               <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                   <div class="rdx complete">
                                       <div class="row align-items-center">
                                               <div class="col-md-2 text-center">
                                                   <div class="time-status"><img src="img/correct.svg" width="40" alt=""></div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="section-title">Verbal Reasoning</div>
                                                   <sub>Completed 02 - 20 - 2019</sub>
                                               </div>
                                               <div class="col-md-2 text-center">
                                                   <a href="result_summery.html"><div class="view-result"><img src="img/result.svg" width="30" alt=""></div>
                                                       <sub>View Results</sub></a>
                                               </div>
                                               
                                                <div class="col-md-2 text-center">
                                                   <div class="reset"><img src="img/reset.png" width="35" alt=""></div>
                                                   <sub>Reset</sub>
                                               </div>
                                         </div>
                                   </div>
                                     
                                     <div class="rdx complete">
                                           <div class="row align-items-center">
                                               <div class="col-md-2 text-center">
                                                   <div class="time-status"><img src="img/correct.svg" width="40" alt=""></div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="section-title">Verbal Reasoning</div>
                                                   <sub>Completed 02 - 20 - 2019</sub>
                                               </div>
                                               <div class="col-md-2 text-center">
                                                   <a href="result_summery.html"><div class="view-result"><img src="img/result.svg" width="30" alt=""></div>
                                                       <sub>View Results</sub></a>
                                               </div>
                                               
                                                <div class="col-md-2 text-center">
                                                   <div class="reset"><img src="img/reset.png" width="35" alt=""></div>
                                                   <sub>Reset</sub>
                                               </div>
                                                                               </div>
                                      </div>
                                     
                                      <div class="rdx">
                                          <div class="row align-items-center">
                                               <div class="col-md-2 text-center">
                                                   <div class="time-status"><svg width="60" height="60" viewBox="0 0 66 66" class="circle-progress"><circle cx="32" cy="32" r="28" fill="none" stroke="#e3e3e3" stroke-width="5"></circle><circle cx="32" cy="32" r="28" fill="none" stroke="#3ca499" stroke-width="5" stroke-dasharray="175.929" stroke-dashoffset="176" class="progress__value"></circle></svg><small ng-if="sec.timeRemaining &amp;&amp; sec.status != 5" class="center ng-binding ng-scope">35<br><span>min</span></small></div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="section-title">Verbal Reasoning</div>
                                                   <sub>Completed 02 - 20 - 2019</sub>
                                               </div>
                                               <div class="col-md-2 text-center">
                                                  <a href="" data-toggle="modal" data-target="#startexam"> <div class="view-result"><img src="img/icons8-play.png" width="30" alt=""></div>
                                                       <sub>Start</sub></a>
                                               </div>
                                               
                                                <div class="col-md-2 text-center">
                                                   <div class="reset"><img width="35" src="img/icons8-scorecard.png"></div>
                                                   <sub>Score Paper</sub>
                                               </div>
                                                                               </div>
                                      </div>
                                     
                                       <div class="rdx">
                                          <div class="row align-items-center">
                                               <div class="col-md-2 text-center">
                                                   <div class="time-status"><svg width="60" height="60" viewBox="0 0 66 66" class="circle-progress"><circle cx="32" cy="32" r="28" fill="none" stroke="#e3e3e3" stroke-width="5"></circle><circle cx="32" cy="32" r="28" fill="none" stroke="#3ca499" stroke-width="5" stroke-dasharray="175.929" stroke-dashoffset="176" class="progress__value"></circle></svg><small ng-if="sec.timeRemaining &amp;&amp; sec.status != 5" class="center ng-binding ng-scope">37<br><span>min</span></small></div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="section-title">Verbal Reasoning</div>
                                                   <sub>Completed 02 - 20 - 2019</sub>
                                               </div>
                                               <div class="col-md-2 text-center">
                                                   <a href="" data-toggle="modal" data-target="#startexam"> <div class="view-result"><img src="img/icons8-play.png" width="30" alt=""></div>
                                                       <sub>Start</sub></a>
                                               </div>
                                               
                                                <div class="col-md-2 text-center">
                                                   <div class="reset"><img width="35" src="img/icons8-scorecard.png"></div>
                                                   <sub>Score Paper</sub>
                                               </div>
                                                                               </div>
                                      </div>
                                     
                                    <div class="rdx">
                                          <div class="row align-items-center">
                                               <div class="col-md-2 text-center">
                                                   <div class="time-status"><svg width="60" height="60" viewBox="0 0 66 66" class="circle-progress"><circle cx="32" cy="32" r="28" fill="none" stroke="#e3e3e3" stroke-width="5"></circle><circle cx="32" cy="32" r="28" fill="none" stroke="#3ca499" stroke-width="5" stroke-dasharray="175.929" stroke-dashoffset="176" class="progress__value"></circle></svg><small ng-if="sec.timeRemaining &amp;&amp; sec.status != 5" class="center ng-binding ng-scope">37<br><span>min</span></small></div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="section-title">Verbal Reasoning</div>
                                                   <sub>Completed 02 - 20 - 2019</sub>
                                               </div>
                                               <div class="col-md-2 text-center">
                                                   <a href="" data-toggle="modal" data-target="#startexam"> <div class="view-result"><img src="img/icons8-play.png" width="30" alt=""></div>
                                                       <sub>Start</sub></a>
                                               </div>
                                               
                                                <div class="col-md-2 text-center">
                                                   <div class="reset"><img width="35" src="img/icons8-scorecard.png"></div>
                                                   <sub>Score Paper</sub>
                                               </div>
                                                                               </div>
                                      </div>
                                 </div>
                               </div>
                             </div>
                             <div class="card">
                               <div class="card-header" id="headingThree">
                                 <h5 class="mb-0">
                                   <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      <div class="small-title">ISEE Middle</div>
                                     <div class="big-title">Practice Test  #1 <span class="progress-status">in progress</span></div>
                                   </button>
                                 </h5>
                               </div>
                               <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                   <div class="rdx complete">
                                       <div class="row align-items-center">
                                               <div class="col-md-2 text-center">
                                                   <div class="time-status"><img src="img/correct.svg" width="40" alt=""></div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="section-title">Verbal Reasoning</div>
                                                   <sub>Completed 02 - 20 - 2019</sub>
                                               </div>
                                               <div class="col-md-2 text-center">
                                                   <a href="result_summery.html"><div class="view-result"><img src="img/result.svg" width="30" alt=""></div>
                                                       <sub>View Results</sub></a>
                                               </div>
                                               
                                                <div class="col-md-2 text-center">
                                                   <div class="reset"><img src="img/reset.png" width="35" alt=""></div>
                                                   <sub>Reset</sub>
                                               </div>
                                         </div>
                                   </div>
                                     
                                     <div class="rdx complete">
                                           <div class="row align-items-center">
                                               <div class="col-md-2 text-center">
                                                   <div class="time-status"><img src="img/correct.svg" width="40" alt=""></div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="section-title">Verbal Reasoning</div>
                                                   <sub>Completed 02 - 20 - 2019</sub>
                                               </div>
                                               <div class="col-md-2 text-center">
                                                   <a href="result_summery.html"><div class="view-result"><img src="img/result.svg" width="30" alt=""></div>
                                                       <sub>View Results</sub></a>
                                               </div>
                                               
                                                <div class="col-md-2 text-center">
                                                   <div class="reset"><img src="img/reset.png" width="35" alt=""></div>
                                                   <sub>Reset</sub>
                                               </div>
                                                                               </div>
                                      </div>
                                     
                                      <div class="rdx">
                                          <div class="row align-items-center">
                                               <div class="col-md-2 text-center">
                                                   <div class="time-status"><svg width="60" height="60" viewBox="0 0 66 66" class="circle-progress"><circle cx="32" cy="32" r="28" fill="none" stroke="#e3e3e3" stroke-width="5"></circle><circle cx="32" cy="32" r="28" fill="none" stroke="#3ca499" stroke-width="5" stroke-dasharray="175.929" stroke-dashoffset="176" class="progress__value"></circle></svg><small ng-if="sec.timeRemaining &amp;&amp; sec.status != 5" class="center ng-binding ng-scope">35<br><span>min</span></small></div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="section-title">Verbal Reasoning</div>
                                                   <sub>Completed 02 - 20 - 2019</sub>
                                               </div>
                                               <div class="col-md-2 text-center">
                                                   <a href="" data-toggle="modal" data-target="#startexam"> <div class="view-result"><img src="img/icons8-play.png" width="30" alt=""></div>
                                                       <sub>Start</sub></a>
                                               </div>
                                               
                                                <div class="col-md-2 text-center">
                                                   <div class="reset"><img width="35" src="img/icons8-scorecard.png"></div>
                                                   <sub>Score Paper</sub>
                                               </div>
                                                                               </div>
                                      </div>
                                     
                                       <div class="rdx">
                                          <div class="row align-items-center">
                                               <div class="col-md-2 text-center">
                                                   <div class="time-status"><svg width="60" height="60" viewBox="0 0 66 66" class="circle-progress"><circle cx="32" cy="32" r="28" fill="none" stroke="#e3e3e3" stroke-width="5"></circle><circle cx="32" cy="32" r="28" fill="none" stroke="#3ca499" stroke-width="5" stroke-dasharray="175.929" stroke-dashoffset="176" class="progress__value"></circle></svg><small ng-if="sec.timeRemaining &amp;&amp; sec.status != 5" class="center ng-binding ng-scope">35<br><span>min</span></small></div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="section-title">Verbal Reasoning</div>
                                                   <sub>Completed 02 - 20 - 2019</sub>
                                               </div>
                                               <div class="col-md-2 text-center">
                                                   <a href="" data-toggle="modal" data-target="#startexam"> <div class="view-result"><img src="img/icons8-play.png" width="30" alt=""></div>
                                                       <sub>Start</sub></a>
                                               </div>
                                               
                                                <div class="col-md-2 text-center">
                                                   <div class="reset"><img width="35" src="img/icons8-scorecard.png"></div>
                                                   <sub>Score Paper</sub>
                                               </div>
                                                                               </div>
                                      </div>
                                     
                                    <div class="rdx">
                                          <div class="row align-items-center">
                                               <div class="col-md-2 text-center">
                                                   <div class="time-status"><svg width="60" height="60" viewBox="0 0 66 66" class="circle-progress"><circle cx="32" cy="32" r="28" fill="none" stroke="#e3e3e3" stroke-width="5"></circle><circle cx="32" cy="32" r="28" fill="none" stroke="#3ca499" stroke-width="5" stroke-dasharray="175.929" stroke-dashoffset="176" class="progress__value"></circle></svg><small ng-if="sec.timeRemaining &amp;&amp; sec.status != 5" class="center ng-binding ng-scope">35<br><span>min</span></small></div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="section-title">Verbal Reasoning</div>
                                                   <sub>Completed 02 - 20 - 2019</sub>
                                               </div>
                                               <div class="col-md-2 text-center">
                                                  <a href="" data-toggle="modal" data-target="#startexam"> <div class="view-result"><img src="img/icons8-play.png" width="30" alt=""></div>
                                                       <sub>Start</sub></a>
                                               </div>
                                               
                                                <div class="col-md-2 text-center">
                                                   <div class="reset"><img width="35" src="img/icons8-scorecard.png"></div>
                                                   <sub>Score Paper</sub>
                                               </div>
                                                                               </div>
                                      </div>
                                 </div>
                               </div>
                             </div>
                           </div>
                                               </div>
                       </div>     
                </div>
                <div class="col-md-4">
                   <div class="summery">
                       <h2>Your Test Prep Timeline</h2>
                        <div class=" section-right card">
                            
                                                        <ul>
                                                            <li>In Progress  ISEE Middle #1
                                                            Unfinished</li>

                                                            <li>In Progress  ISEE Middle #5
                                                            Unfinished</li>

                                                            <li>Completed  ISEE Middle #4
                                                            Oct 15, 2018</li>

                                                            <li class="alert alert-success">Completed  ISEE Middle #3
                                                            Oct 8, 2018</li>

                                                            <li class="alert alert-success">Completed  ISEE Middle #2
                                                            Oct 1, 2018</li>

                                                            <li class="alert alert-success">Completed  ISEE Middle #1
                                                            Sep 23, 2018</li>
                                                        </ul>                            
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    
</section>    
    <!--get plan-->

    <!--recent-blog-->
    <section class="blog_sec" style="display: none">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title text-center">
                        <h3>Our Latest News</h3>
                    </div><!--/.title-->
                </div>
                <div class="w-100"></div>
                <div class="col-md-12">
                    <div class="owl-carousel" id="blog_slider_owl">
                        <div>
                            <div class="single_blog_in">
                                <div class="card">
                                    <div class="images">
                                        <img src="img/blog1.jpg" alt=""/>
                                        <div class="dates">
                                            <p>Sep 2018</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h2><a href="#">We design platform for all global customers</a></h2>
                                        <p>Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut labore.</p>
                                        <ul>
                                            <li>
                                                <p><img src="img/client2.jpg" alt=""/>by <a href="#">Tonmoy Khan</a></p>
                                            </li>
                                            <li><a href="#"><i class="fas fa-bell"></i> 15</a></li>
                                            <li>
                                                <a href="#"><i class="fas fa-comment-alt"></i> 30</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/.single_blog_in-->
                        </div>
                        <div>
                            <div class="single_blog_in">
                                <div class="card">
                                    <div class="images">
                                        <img src="img/blog2.jpg" alt=""/>
                                        <div class="dates">
                                            <p>Sep 2018</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h2><a href="#">Far far away,behind the word mountains, far from</a></h2>
                                        <p>Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut labore.</p>
                                        <ul>
                                            <li>
                                                <p><img src="img/client2.jpg" alt=""/>by <a href="#">Tonmoy Khan</a></p>
                                            </li>
                                            <li><a href="#"><i class="fas fa-bell"></i> 15</a></li>
                                            <li>
                                                <a href="#"><i class="fas fa-comment-alt"></i> 30</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/.single_blog_in-->
                        </div>
                        <div>
                            <div class="single_blog_in">
                                <div class="card">
                                    <div class="images">
                                        <img src="img/blog3.jpg" alt=""/>
                                        <div class="dates">
                                            <p>Sep 2018</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h2><a href="#">We design platform for all global customers</a></h2>
                                        <p>Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut labore.</p>
                                        <ul>
                                            <li>
                                                <p><img src="img/client2.jpg" alt=""/>by <a href="#">Tonmoy Khan</a></p>
                                            </li>
                                            <li><a href="#"><i class="fas fa-bell"></i> 15</a></li>
                                            <li>
                                                <a href="#"><i class="fas fa-comment-alt"></i> 30</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/.single_blog_in-->
                        </div>
                        <div>
                            <div class="single_blog_in">
                                <div class="card">
                                    <div class="images">
                                        <img src="img/blog2.jpg" alt=""/>
                                        <div class="dates">
                                            <p>Sep 2018</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h2><a href="#">Far far away,behind the word mountains, far from</a></h2>
                                        <p>Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut labore.</p>
                                        <ul>
                                            <li>
                                                <p><img src="img/client2.jpg" alt=""/>by <a href="#">Tonmoy Khan</a></p>
                                            </li>
                                            <li><a href="#"><i class="fas fa-bell"></i> 15</a></li>
                                            <li>
                                                <a href="#"><i class="fas fa-comment-alt"></i> 30</a>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div><!--/.single_blog_in-->
                        </div>

                    </div><!--/.blog_slider_owl-->
                </div>
            </div>
        </div><!--/.container-->
    </section>
    <!--recent-blog-->

    <!--footer widget-->
    <section class="footer_x_widger">
        <div class="container">
            <div class="row">
                
                <div class="w-100"></div>
                <div class="col-md-3">
                    <div class="widget widget_info">
                        <img src="img/logo-footer.png" alt="" width="200px">
                        <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor amet sed diam nonumy eirmod tempor.</p>
                        
                    </div><!--/.widget_info-->
                </div>
                <div class="col-md-3">
                    <div class="widget widget_links">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> About Company</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Shop</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Service</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Features</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Case Studies</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> News &amp; Blog</a></li>
                        </ul>
                    </div><!--/.widget_links-->
                </div>
                 <div class="col-md-3">
                    <div class="widget widget_links">
                        <h3>About</h3>
                         <ul>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Tips</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> SSAT</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> ACT</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> SAT</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Tutoring</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> For Schools</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Scholarships</a></li>
                        </ul>
                    </div><!--/.widget_links-->
                </div>
                <div class="col-md-3">
                    <div class="widget widget_address">
                        <h3>Connect</h3>
                                           <div class="footer_social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fas fa-rss"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                                           
                                            </div><!--/.widget_address-->
                </div>
            </div>
        </div>
    </section>
    <!--footer widget-->

    <!--footer-->
    <footer class="footers">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright_text text-center">
                        <p>2019 © Bosh Education Group. All rights reserved.</p>
                    </div><!--/.copyright_text-->
                </div>
                
            </div>
        </div><!--/.container-->
    </footer>
    <!--footer-->

   
   
    <div class="modal fade" id="startexam" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><i data-feather="edit"></i>ISEE MIDDLE #6 <br>
<span>SECTION 1: VERBAL REASONING</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3>How do you want to take this section?</h3>

                <div class="row">
                    <div class="col-md-6 text-center"><a href="newexam.html"><img src="img/online.svg" alt=""></a><p>Online</p></div>
                    <div class="col-md-6 text-center"><a href="#"><img src="img/paper.svg" alt=""></a><p>On Paper</p></div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        
      

   <!--jquery-->
    <script src="js/jquery-1.12.4.min.js"></script>
    <!--bootstrap v4 js-->
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--popper js-->
    <script src="js/vendor/popper.min.js"></script>
    <!--material kit-->
    <script src="js/vendor/bootstrap-material-design.min.js"></script>
    <script src="js/vendor/material-kit.min.js"></script>
    <!--aos js-->
    <script src="js/vendor/aos.js"></script>
    <!--owl carousel -->
    <script src="js/vendor/owl-carousel.js"></script>
    <!--iso top-->
    <script src="js/vendor/isotop.js"></script>
    <!--magnifice popup-->
    <script src="js/vendor/magnifice-js.js"></script>
    <!--swiper slider-->
    <script src="js/vendor/swiper.js"></script>
    <!--easing js-->
    <script src="js/vendor/easing.js"></script>
    <!--main script-->
    <script src="js/main.js"></script>

</body>

</html>